.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}








.navigation-links-root-class-name10 {
  width: 25%;
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-root-class-name10 {
    width: 70%;
  }
}

.navbar-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar-image {
  width: 106px;
}
.navbar-nav {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.navbar-burger-menu {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.navbar-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-image1 {
  width: 106px;
}
.navbar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-primary-btn {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.navbar-social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.navbar-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.navbar-icon02 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon02:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-icon06 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon06:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-icon10 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon10:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-icon12 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.navbar-icon12:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-root-class-name {
  background-color: #D9D9D9;
}
.navbar-root-class-name1 {
  background-color: #D9D9D9;
}
@media(max-width: 767px) {
  .navbar-nav {
    display: none;
  }
}
@media(max-width: 479px) {
  .navbar-max-width {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.copyright-copyright {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.copyright-max-width {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  align-items: stretch;
}
.copyright-image {
  width: 200px;
  object-fit: cover;
}
.copyright-root-class-name {
  background-color: #D9D9D9;
}
.copyright-root-class-name1 {
  background-color: #D9D9D9;
}
@media(max-width: 991px) {
  .copyright-max-width {
    flex-direction: column;
  }
}

.contact-page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #D9D9D9;
}
.contact-page-container1 {
  width: 100%;
}
.contact-page-container2 {
  display: contents;
}
@media(max-width: 479px) {
  .contact-page-container1 {
    height: 1445px;
  }
}
